<!DOCTYPE html>
<html>

    <head>

        <title>{% block title %}Best fixed store{% endblock %}</title>

        {% load staticfiles %}
        <link rel="stylesheet" href={% static "css/uikit.min.css" %} />
        <script src={% static "js/jquery.js" %}></script>
        <script src={% static "js/uikit.min.js" %}></script>
        <link rel="icon"
              type="image/icon"
              href="/static/favicon.ico">
    </head>

<body>

    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

        {% block navigation %}
            {% include "navigation.html" with menu_item=''%}
        {% endblock %}

        {% block content %}
        {% endblock%}


        {% block bottom_scripts %}
        {% endblock %}
    </div>

</body>
</html>